@model TaskManager.Application.ViewModels.Construction.ConstructionListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Budowy</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Adres
            </th>
            <th>
                Liczba Pracowników
            </th>
            <th>
                Data Wyjazdu
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Constructions) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressLine1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a class="btn btn-warning" style="height:40px , " width:100px" href="@Url.Action("Details", "Construction", new { id = item.Id })">Edytuj</a>
            </td>
        </tr>
}
    </tbody>
</table>
