@model TaskManager.Application.ViewModels.Construction.ConstructionListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Budowy</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Adres
            </th>
            <th>
                Data Wyjazdu
            </th>
            <th>
                Akcja
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Constructions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressLine1)
                </td>
                <td>
                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Date))
                </td>
                <td>
                    <a class="btn btn-info" style="height:40px , " width:100px" href="@Url.Action("Details", "Construction", new { id = item.Id })">Info</a>
                    <a class="btn btn-warning" style="height:40px , " width:100px" href="@Url.Action("Clone", "Construction", new { id = item.Id })">Klonuj</a>
                </td>
            </tr>
        }



            
    </tbody>
</table>
