@model TaskManager.Application.ViewModels.Employee.EmployeeListVm

@{
    ViewData["Title"] = "Index";
}

<center><h1>Lista Pracowników</h1></center>
    

    <table class="table">
        <thead>
            <tr>
                <th>
                    Imię
                </th>
                <th>
                    Nazwisko
                </th>
                <th>
                    Stanowisko
                </th>
                <th>
                    Akcje
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Employees)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position)
                    </td>
                    <td>
                        <a class="btn btn-warning" style="height:40px , " width:100px" href="@Url.Action("EditEmployee", "Employee", new { id = item.Id })">Edytuj</a>
                        <a class="btn btn-danger" style="height:40px , " width:100px" href="@Url.Action("DeleteEmployee", "Employee", new { id = item.Id })">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
